<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clic.ccdbaas.dao.HcsZoneSummaryCapacityMapper">

  <resultMap id="BaseResultMap" type="com.clic.ccdbaas.entity.HcsZoneSummaryCapacity">
    <id column="azoneId" jdbcType="VARCHAR" property="azoneId" />
    <result column="azoneName" jdbcType="VARCHAR" property="azoneName" />
    <result column="regionId" jdbcType="VARCHAR" property="regionId" />
    <result column="regionName" jdbcType="VARCHAR" property="regionName" />
    <result column="dimensionType" jdbcType="VARCHAR" property="dimensionType" />
    <result column="totalCapacity" jdbcType="DOUBLE" property="totalCapacity" />
    <result column="usedCapacity" jdbcType="DOUBLE" property="usedCapacity" />
    <result column="freeCapacity" jdbcType="DOUBLE" property="freeCapacity" />
    <result column="capUsedRatio" jdbcType="DECIMAL" property="capUsedRatio" />
    <result column="allocatedCapacity" jdbcType="DECIMAL" property="allocatedCapacity" />
  </resultMap>
  <sql id="Base_Column_List">
    azoneId, azoneName, regionId, regionName, dimensionType, totalCapacity, usedCapacity,
    freeCapacity, capUsedRatio, allocatedCapacity
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_hcs_azone_summary_storage_info
    where azoneId = #{azoneId,jdbcType=VARCHAR} and dimensionType = #{dimensionType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_hcs_azone_summary_storage_info
    where azoneId = #{azoneId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.clic.ccdbaas.entity.HcsZoneSummaryCapacity">
    insert into t_hcs_azone_summary_storage_info (azoneId, azoneName, regionId,
      regionName, dimensionType, totalCapacity,
      usedCapacity, freeCapacity, capUsedRatio,
      allocatedCapacity)
    values (#{azoneId,jdbcType=VARCHAR}, #{azoneName,jdbcType=VARCHAR}, #{regionId,jdbcType=VARCHAR},
      #{regionName,jdbcType=VARCHAR}, #{dimensionType,jdbcType=VARCHAR}, #{totalCapacity,jdbcType=DOUBLE},
      #{usedCapacity,jdbcType=DOUBLE}, #{freeCapacity,jdbcType=DOUBLE}, #{capUsedRatio,jdbcType=DECIMAL},
      #{allocatedCapacity,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.clic.ccdbaas.entity.HcsZoneSummaryCapacity">
    insert into t_hcs_azone_summary_storage_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="azoneId != null">
        azoneId,
      </if>
      <if test="azoneName != null">
        azoneName,
      </if>
      <if test="regionId != null">
        regionId,
      </if>
      <if test="regionName != null">
        regionName,
      </if>
      <if test="dimensionType != null">
        dimensionType,
      </if>
      <if test="totalCapacity != null">
        totalCapacity,
      </if>
      <if test="usedCapacity != null">
        usedCapacity,
      </if>
      <if test="freeCapacity != null">
        freeCapacity,
      </if>
      <if test="capUsedRatio != null">
        capUsedRatio,
      </if>
      <if test="allocatedCapacity != null">
        allocatedCapacity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="azoneId != null">
        #{azoneId,jdbcType=VARCHAR},
      </if>
      <if test="azoneName != null">
        #{azoneName,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null">
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="dimensionType != null">
        #{dimensionType,jdbcType=VARCHAR},
      </if>
      <if test="totalCapacity != null">
        #{totalCapacity,jdbcType=DOUBLE},
      </if>
      <if test="usedCapacity != null">
        #{usedCapacity,jdbcType=DOUBLE},
      </if>
      <if test="freeCapacity != null">
        #{freeCapacity,jdbcType=DOUBLE},
      </if>
      <if test="capUsedRatio != null">
        #{capUsedRatio,jdbcType=DECIMAL},
      </if>
      <if test="allocatedCapacity != null">
        #{allocatedCapacity,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.clic.ccdbaas.entity.HcsZoneSummaryCapacity">
    update t_hcs_azone_summary_storage_info
    <set>
      <if test="azoneName != null">
        azoneName = #{azoneName,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        regionId = #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null">
        regionName = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="dimensionType != null">
        dimensionType = #{dimensionType,jdbcType=VARCHAR},
      </if>
      <if test="totalCapacity != null">
        totalCapacity = #{totalCapacity,jdbcType=DOUBLE},
      </if>
      <if test="usedCapacity != null">
        usedCapacity = #{usedCapacity,jdbcType=DOUBLE},
      </if>
      <if test="freeCapacity != null">
        freeCapacity = #{freeCapacity,jdbcType=DOUBLE},
      </if>
      <if test="capUsedRatio != null">
        capUsedRatio = #{capUsedRatio,jdbcType=DECIMAL},
      </if>
      <if test="allocatedCapacity != null">
        allocatedCapacity = #{allocatedCapacity,jdbcType=DECIMAL},
      </if>
    </set>
    where azoneId = #{azoneId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clic.ccdbaas.entity.HcsZoneSummaryCapacity">
    update t_hcs_azone_summary_storage_info
    set azoneName = #{azoneName,jdbcType=VARCHAR},
      regionId = #{regionId,jdbcType=VARCHAR},
      regionName = #{regionName,jdbcType=VARCHAR},
      dimensionType = #{dimensionType,jdbcType=VARCHAR},
      totalCapacity = #{totalCapacity,jdbcType=DOUBLE},
      usedCapacity = #{usedCapacity,jdbcType=DOUBLE},
      freeCapacity = #{freeCapacity,jdbcType=DOUBLE},
      capUsedRatio = #{capUsedRatio,jdbcType=DECIMAL},
      allocatedCapacity = #{allocatedCapacity,jdbcType=DECIMAL}
    where azoneId = #{azoneId,jdbcType=VARCHAR} and dimensionType = #{dimensionType,jdbcType=VARCHAR}
  </update>

</mapper>